html    
{
    background: url("https://as2.ftcdn.net/v2/jpg/03/07/35/21/1000_F_307352129_dvr99c36HQ8fOUDwhn4awr710K0JqBSJ.jpg") no-repeat center center fixed;
    background-size: cover;
    color:white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

li, p
{
    font-size: 24px;
}

a
{
    text-decoration: none   ;
}

a:visited
{
    color:inherit;
}

h1.main
{
    font-size: 48px;
}

